@media screen and (max-width: 600px) {

  .name-content {
    padding: 1px 2px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .column {
    border: 1px solid #ccc;
    padding: 4px;
  }



  .navbar-expand-lg .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: left }

  .project-img {
    margin: 2px;
    width: auto;
    height: 100px;
  }

  .navbar-expand-lg .navbar-nav {
    /* flex-flow: column; */
    /* flex-direction: row; */
    flex-direction: column;

  }
  .nav-link{
    justify-content: flex-start;
    margin-left: 20px;
  }

  .collapse:not(.show) {
    display: inline;
    /* display: none; */
  }

  .default-avatar {
    display: none;
  }

  div.margin-right {
    margin-right: 0px;
  }

  div.margin-left-20 {
    margin-left: 0px;
  }

  .certificate-img {
    /* display: flex;
          justify-content: center; */
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* object-fit: cover; */
    /* margin-left: 25%; */

  }

  .grid-container-2column {
    display: grid;
    grid-template-columns: 1fr;
  }

  .column-2column {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .grid-container-project {
    display: grid;
    grid-template-columns: 1fr;
  }

  .column-project {
    border: 1px solid #ccc;
    padding: 4px;
    /* background-color: rgb(248,248,248); */}
    .nav-item
    {
      box-shadow:none !important;

    }

    
  }

